nltk == 3.6.7
sentencepiece ==0.1.97
boto3 == 1.21.42
pandas == 1.3.5
jieba == 0.42.1
scikit-learn == 1.0.2
tensorboard == 2.9.0
transformers == 4.20.1
datasets == 2.0.0
setuptools == 59.5.0
protobuf == 3.20.1
ftfy == 6.1.1
Pillow == 8.2.0
einops == 0.3.0
diffusers == 0.7.2
pytorch-lightning == 1.6.5
taming-transformers-rom1504 == 0.0.6i
timm == 0.6.11
