data/
**/__pycache__/
logs/*
experiments/logs
!logs/.gitkeep
datasets/*
!datasets/*.sh
.vscode/
*.egg-info/
eggs/
.eggs/
*.egg
**.egg
build/
_build/
**/build/
outputs/
log.txt
**/DeltaHub/
**/sfs_scripts/
*beans/
**/examples/*/configs/*
!examples/*/configs/config_gen.py
**/jupyter_notebook_examples/
!examples/jupyter_notebook_examples/*.py
!examples/*/configs/*.py
**/outputs_search/**/*.bin
**/outputs_search/**/*.pt


*.db
**/nohup.out
**/examples/examples_bmtrain/BigModels/down_data
**/examples/examples_bmtrain/BMTrain_stable
**/examples/examples_bmtrain/BMPretrain
**/examples/examples_bmtrain/BigModels/BigModels/results
**/Delta_Memory/
**/output/
**/thunlp/
**/saved_ckpts/


DeltaCenter-Python-Client/
backbone_structure
delta_checkpoints
gitop.sh
load_dataset_and_model.ipynb
load_model.py
scripts
t.py
t.sh
!examples/examples_prompt/configs/*/*.json
!examples/examples_prompt/configs/**
**/delta_checkpoints/
**/outputs/

dist/
dist/*

**/unittest/**
!unittest/**.py
!unittest/**.sh
!unittest/**.md

**/tutorial/**
!tutorial/**.py
!tutorial/**.sh
!tutorial/**.md



