adapter-transformers==1.1.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dataclasses==0.8
filelock==3.0.12
flake8==3.8.4
future==0.18.2
huggingface-hub==0.0.19
idna==2.10
importlib-metadata==3.3.0
joblib==1.0.0
mccabe==0.6.1
nltk==3.5
numpy==1.19.4
packaging==21.0
pandas==1.1.5
protobuf==3.14.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
scikit-learn==0.24.0
scipy==1.5.4
sentence-transformers==0.4.0
sentencepiece==0.1.91
six==1.15.0
threadpoolctl==2.1.0
tokenizers==0.9.3
torch==1.7.1+cu110 
tqdm==4.48.2
typing-extensions==3.7.4.3
urllib3==1.26.7
zipp==3.4.0
