# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip config set global.index-url https://pypi.tuna.tsinghua.edu.cn/simple
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        python -m pip install torch
        python setup.py install
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --statistics --ignore=E405,E501,F401,W504,F405,E722,E262,E127,W503,W605,E265,E402,F403,E126,F811,E129,W293,E741
    - name: Test with pytest
      run: |
        sh prepare_test.sh
        pytest
